BoF_cache_fcm
BreaKHis/
BreaKHis 400X/
BreaKHis_400X_augmented_superpixels/
BreaKHis_400X_full/
BreaKHis_400X_full_augmented/
BreaKHis_400X_full_augmented2/
BreaKHis_400X_glcm/
BreaKHis_400X_patient_split/
data_split/